body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000000;
}

#startButton {
  background-color: #FFD217; /* Amarillo */
  color: #70200D; /* Café */
  border: #70200D;
  padding: 1vw 2vw; /* Ajustado con unidades relativas */
  font-size: 2.5vw; /* Ajustado con unidades relativas */
  cursor: pointer;
  margin-top: 20vh;
  margin-bottom: 2vh;
  border-radius: 5px;
  text-align: center;
  max-width: 90vw; /* Máximo ancho */
}

#startButton:hover {
  background-color: #e6b800; /* Cambia a un amarillo más oscuro al pasar el mouse */
}

.textos {
  color: #FFD217; /* Amarillo */
  font-size: 2vw; /* Ajustado con unidades relativas */
  text-align: center;
  margin-bottom: 2vh;
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  max-width: 90vw; /* Máximo ancho */
}

.flower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

svg {
  width: 60vw; /* Ajuste el tamaño del SVG según el ancho de la ventana */
  height: 60vw; /* Mantén las proporciones ajustando el alto */
  max-width: 90vw; /* Máximo tamaño */
  max-height: 90vh;
}

.petal {
  fill: transparent;
  stroke: #D28C11; /* Color del borde */
  stroke-width: 2;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  transition: fill 1s ease-in-out;
}

.circulo {
  fill: transparent;
}

.circulo.filled {
  fill: #70200D; /* Color del relleno */
}

.petal.filled {
  fill: #FFD217; /* Color del relleno */
}

.petal.filled2 {
  fill: #000000; /* Color del relleno */
}

.petal.filled3 {
  fill: #FFD217; /* Color del relleno */
}

.petal.drawing {
  animation: draw 2s ease forwards;
}

.tallo.filled {
  fill: #043102;
}

.drawing2 {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

.show {
  display: block; /* Mostrar elemento */
  opacity: 1; /* Aplicar efecto de opacidad al mostrarse */
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

@keyframes draw {
  to {
      stroke-dashoffset: 0;
  }
}
